ion-content {
  --background: #3b43be;
}

ion-card {
  --background: white;
}

.bitcoin__logo {
  width: 140px;
  height: 140px;
  display: block;
  margin: auto;
  color: white;
}

.disclaimer {
  padding: 0px 10px;
  opacity: 0.75;
  text-align: center;
}